/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Estilo desktop */
}header img{
    display: block;
    margin:75px 0 0 360px;
    text-align: center;

}

h1{
    color: rgb(9, 9, 9);
    font-size:  65px;
    font-weight: bold;
    font-family: "Unbounded", cursive;
    font-style: normal;
    font-display: swap;
    text-align: center;
    margin-top: 60px;
}
h1 span,a{
   color: rgb(240, 163, 21);
}
p{
    color: black;
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-display: swap;
    text-align: center;
    margin: 40px auto;
}
a{
font-family: "Poppins", sans-serif;
background-color: rgb(240, 163, 21);
color: rgb(26, 26, 26);
text-decoration: none;
font-size: 24px;
border-radius: 36px;
width: 340px;
height: 66px;
display: block;
line-height: 66px;
text-align: center;
margin: 40px auto;
}
a:hover{
    background-color: rgb(5, 5, 5);
    color: rgb(245, 245, 245);
    transition: 0.3s;
}
.img-celulares{
    display: block;
    margin: 0 auto;
    width: 792px;
    height: 446px;
}

/* ======== Estilo modo escuro ======== */
body.dark {
  background-color: #121212;
  color: #f5f5f5;
}

body.dark h1 span, 
body.dark a {
  color: #f5b32f;
}

body.dark a {
  background-color: #f5b32f;
  color: #1a1a1a;
}

body.dark a:hover {
  background-color: #f6f0f0;
  color: #f5b907;
}
body.dark p,h1 {
  color: #e0e0e0;
}
body.dark header img,
body.dark .img-celulares {
  filter: brightness(0.8);
}
/* 3. Ajusta o posicionamento do theme-switcher (ícones) */
.theme-switcher {
    display: flex; /* Para garantir que os dois ícones fiquem lado a lado */
    align-items: center;
    /* Remove o position: absolute; para o Flexbox fazer o trabalho */
}

.theme-switcher .icon {
    width: 30px; 
    height: 30px;
    cursor: pointer;
    margin-left: 10px; /* Espaçamento entre o ícone claro e o escuro */
}

/* === Lógica de Mostrar/Esconder os Ícones === */

/* POR PADRÃO (light-mode) */
/* O ícone de sol/dia (light-icon) deve estar escondido, pois já está claro */
.light-icon {
    display: none;
}
/* O ícone de lua/noite (dark-icon) deve estar visível, para o usuário poder clicar e escurecer */
.dark-icon {
    display: block;
}

/* Estilo tablet */
@media (max-width: 768px){
   
    header img{
        margin: 65px 0 0 60px;
         height: auto;
    }
    p{
        width: 648px;
         
    }
}
/* estilo celular */

@media(max-width: 375px){
    header img{
        margin: 32px 0 0;
    }
}
h1{
    font-size: 40px;

}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
width: 340px;
}
section .img-celulares{
    width: 340px;
    height: 230px;

}
